### DISPLAY CONF ###
xrandr --output DVI-D-1  --mode 1920x1080 --rate 144
xrandr --output HDMI-1 --mode 1920x1080 --rate 144

### KEYBOARD CONF ###
setxkbmap se

### TIME ###
ntpd -qg 

### APPS ###
nitrogen --restore &
picom &
emacs --daemon &
openrazer-daemon
imwheel -b 45 &
alttab 
